<div class="container">
      <!--バリデーションのエラーメッセージ-->
      <% if @user.errors.any? %>
      <%= @user.errors.count %> error prohibited this obj from being saved:
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
      <dix class="form-group">
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
      </dix>
      <div class="form-group">
        <label for="inputName">Introduction</label><br>
        <%= f.text_field :introduction, autofocus: true, id:"inputName", placeholder:"名前"%>
      </div>
      <div class="form-group">
        <label for="inputImage">ProfileImage</label><br>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
      </div>
      <div class="form-group">
        <%= f.submit "Update User",class: "btn btn-secondary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
